.component-space-top{
    margin-top: 104px;
}
.component-space-y{
    margin-top: 104px;
    margin-bottom: 104px;
}
.content-image-split-container-with-bg{
    background-color: #F4F5F7;
    padding: 64px 0;
}
