<app-unauth-banner></app-unauth-banner>
<div class="component-container">
    <div class="component-space-y">
        <app-content-image-split title="Your business is our top priority"
            imageUrl="assets/images/cardImages/business-trip-priority.png"
            imageAlt="Our service illustration" [reverseLayout]="false">
            <p>The BCB Platform gives you access to our comprehensive banking,
                borrowing and investment solutions.</p>
            <p> Get tailor-made banking solutions, use our financial health
                monitor and never worry about the status of your business’s
                finances. No two businesses are the same, that’s why we tailor
                your experience.</p>
        </app-content-image-split>
    </div>
    <div class="component-space-y">
        <app-content-image-split title="We're giving you your time back"
            imageUrl="assets/images/cardImages/business-trip-priority.png"
            imageAlt="Our service illustration" [reverseLayout]="true">
            <p>From start-ups to businesses looking to scale up, our solutions
                ensure you don’t waste time on mundane tasks. You have direct
                access to everything you need to ensure your business’s success.
            </p>
            <p>You can easily track your income and expenses, get expert
                industry knowledge and access all of your Standard Bank
                solutions in one place. </p>
        </app-content-image-split>
    </div>
    <div class="component-space-top">
        <app-add-banner title="Boost your business with reliable solutions"
            description="Explore our wide range of financial offerings and solutions tailored to meet your unique needs"
            buttonText="View all solutions"></app-add-banner>
    </div>
    <div class="component-space-top">
    </div>
</div>
<div class="content-image-split-container-with-bg">
  <div class="component-container">
    <app-content-image-split title="Explore the BCB Platform"
      imageUrl="assets/images/cardImages/bcb-platform.png"
      imageAlt="Our service illustration" buttonText="Watch our demo"
      btnIconUrl="assets/images/icons/icn_arrow_right.png"
      [reverseLayout]="false">
      <p>Watch a sneak peek of the platform before you get started</p>
    </app-content-image-split>
  </div>
</div>
<app-download-app></app-download-app>
<div class="component-container">
  <app-app-help></app-app-help>
</div>
<app-switch-bank title="Ready to move to Standard Bank?"
  description="We're serious about where your business is going. Discover why we’re the trusted choice when it comes to business banking."
  buttonText="SWITCH"></app-switch-bank>
<div class="component-container component-space-y">
  <app-accordion-block></app-accordion-block>
</div>
<app-footer></app-footer>