<div class="container-fluid hero-banner">
    <div class="row row-gap-4">
        <div class="col-lg-6 colLeft">
            <div class="banner-content">
                <h1>Access all your business needs in one place </h1>
                <p>From small to large businesses, we've got the solutions you need to get your business ahead</p>
                <a href="#" class="btnPrimary">get started</a>
            </div>
        </div>
        <div class="col-lg-6 colRight">
            <img class="img-fluid" src="assets/images/media/laptop.png" alt="laptop" />
        </div>
    </div>
</div>