<div class="container-fluid page-banner-one px-0">
    <div class="row g-0 h-100">
        <div class="col-lg-4 colLeft order-lg-1 order-2">
            <div class="banner-content">
                <h1>Our solutions</h1>
                <p>Access a variety of tailor-made financial solutions that will help make your business a success</p>
            </div>
        </div>
        <div class="col-lg-8 colRight order-lg-2 order-1">
            <img src="assets/images/banners/unauth-solutions.jpg" alt="Unauth Solutions Banner Image" class="img-fluid banner-rt-img">
        </div>
    </div>
</div>