<div class="sb-header">
    <div class="d-flex align-items-center">
        <a href="#" class="logo">
            <img class="img-fluid isDesktop" src="assets/sb-primary-logo.png" alt="standardbank-logo" />
            <img class="img-fluid isMobile" src="assets/sb-shiled-mobile-logo.png" alt="standardbank-logo" />
        </a>
    </div>
    <div class="right-block">
        <button type="button" class="mail-badge"><img class="img-fluid" src="assets/images/icons/mail-icon.png" alt="mail icon" /><span class="badge-text">15</span></button>
        <button type="button" class="sign-in">
            <span>Sign in</span>
            <img class="img-fluid" src="assets/images/icons/user-icon.png" alt="user icon" />
        </button>
        <button type="button" class="mega-menu-toggle" (click)="toggleSolutionsMenu()"><img class="img-fluid" src="assets/images/icons/mobile-menu-icon.png" alt="mobile menu mobile-menu-icon" /></button>
    </div>
</div>