<div class="sb-header">
    <button type="button" class="mega-menu-toggle" (click)="toggleSolutionsMenu()"><img class="img-fluid" src="assets/images/icons/mobile-menu-icon.png" alt="standardbank-logo" /></button>
    <a href="#"><img class="img-fluid" src="assets/sb-primary-logo.png" alt="standardbank-logo" /></a>
    <div class="right-block">
        <button type="button" class="mail-badge"><img class="img-fluid" src="assets/images/icons/mail-icon.png" alt="mail icon" /><span class="badge-text">15</span></button>
        <button type="button" class="sign-in">
            <span>Sign in</span>
            <img class="img-fluid" src="assets/images/icons/user-icon.png" alt="user icon" />
        </button>
    </div>
</div>