<div class="download-app">
    <div class="container-body">
        <img class="img-fluid" src="assets/images/media/mobile-img.png" alt="mobile-app" />
        <div class="content">
            <h2>Download our Online Banking for Business app</h2>
            <p>Manage your banking, make payments and access your information and solutions anytime, anywhere.</p>
            <div class="d-flex align-items-center column-gap-3 column-gap-lg-2 flex-wrap row-gap-3">
                <a href="#"><img class="img-fluid" src="assets/images/media/google-play.png" alt="google play"/></a>
                <a href="#"><img class="img-fluid" src="assets/images/media/app-store.png" alt="app store"/></a>
                <a href="#"><img class="img-fluid" src="assets/images/media/app-gallery.png" alt="app gallery"/></a>
            </div>
        </div>
    </div>
    <!-- <div class="container px-0">
        <div class="row row-gap-4">
            <div class="col-lg-5 d-flex justify-content-center">
                <img class="img-fluid" src="assets/images/media/mobile-img.png" alt="mobile-app" />
            </div>
            <div class="col-lg-7">
                <div class="content">
                    <h2>Download our Online Banking for Business app</h2>
                    <p>Manage your banking, make payments and access your information and solutions anytime, anywhere.</p>
                    <div class="d-flex align-items-center column-gap-3 column-gap-lg-2 flex-wrap row-gap-3">
                        <a href="#"><img class="img-fluid" src="assets/images/media/google-play.png" alt="google play"/></a>
                        <a href="#"><img class="img-fluid" src="assets/images/media/app-store.png" alt="app store"/></a>
                        <a href="#"><img class="img-fluid" src="assets/images/media/app-gallery.png" alt="app gallery"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>