.feature-card{
    border-color:#CED3D9; border-radius: 12px; overflow: hidden;
    .card-body{
        padding: 25px 16px 20px;
        background-color: #FFFFFF;
        .feature-card-heading{
            font-family: 'BSP-Regular', sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            color: #1A314D;
            margin-bottom: 20px;
        }
        .feature-card-description{
            font-family: 'BSP-Regular', sans-serif;
            font-size: 1rem;
            line-height: 1.5;
            color: #5C6C80;
            margin-bottom: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -moz-line-clamp: 2;
            -ie-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .feature-card-button{
            margin-top: 15px;
            font-family: "BSP-Bold", sans-serif;
            font-size: 0.875rem;
            line-height: 15px;
            color: #0062E1;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}