<div class="carousel-container">
    <div class="sec-title-wrap">
        <h2 class="sec-title">Our full range of solutions</h2>
        <p class="sec-description">Access a wide range of solutions suited to meet your needs, whether you're starting, growing or managing your business</p>
    </div>
    <owl-carousel-o [options]="customOptions" class="custom-carousel">
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/images/icons/icon-branch.png" alt="bank" class="img-fluid" />
            <h3>Bank</h3>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/icon-cash-hands.png" alt="bank" class="img-fluid" />
              <h3>Borrow</h3>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/icon-document-tax.png" alt="bank" class="img-fluid" />
              <h3>Save & Invest</h3>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/icon-building.png" alt="bank" class="img-fluid" />
              <h3>Insure</h3>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/icon-building.png" alt="bank" class="img-fluid" />
              <h3>Insure</h3>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/icon-building.png" alt="bank" class="img-fluid" />
              <h3>Insure</h3>
            </div>
          </ng-template> 
      </owl-carousel-o>
      
</div>