<div class="carousel-container">
    <div class="sec-title-wrap">
        <h2 class="sec-title">Manage your money wherever you are</h2>
    </div>
      <owl-carousel-o [options]="customOptions"#owlCar class="custom-carousel">
        <ng-template carouselSlide>
          <div class="slide">
            <div class="slide-heaer">
                <img src="assets/images/media/laptop-online.png" alt="laptop app" class="img-fluid" />
            </div>
            <h3>Online banking</h3>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slide">
                <div class="slide-heaer">
                    <img src="assets/images/media/mobile-online.png" alt="laptop app" class="img-fluid" />
                </div>
                <h3>Mobile app</h3>
              </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
                <div class="slide-heaer">
                    <img src="assets/images/media/atm-machine.png" alt="laptop app" class="img-fluid" />
                </div>
                <h3>ATM</h3>
              </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
                <div class="slide-heaer">
                    <img src="assets/images/media/sms-code.png" alt="laptop app" class="img-fluid" />
                </div>
                <h3>Cellphone banking</h3>
              </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
                <div class="slide-heaer">
                    <img src="assets/images/media/sms-code.png" alt="laptop app" class="img-fluid" />
                </div>
                <h3>Cellphone banking</h3>
              </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
                <div class="slide-heaer">
                    <img src="assets/images/media/sms-code.png" alt="laptop app" class="img-fluid" />
                </div>
                <h3>Cellphone banking</h3>
              </div>
          </ng-template> 
      </owl-carousel-o>

</div>