<div class="page-container">
    <div class="component-container-two">
        <app-welcome-user-banner></app-welcome-user-banner>
        <app-my-solutioncards></app-my-solutioncards>
    </div>
    <div class="component-container-two">
        <div class="container-fluid px-0">
            <div class="row g-3">
                <div class="col-lg-8">
                    <div class="table-container">
                        <div class="custom-table">
                            <ul class="table-header-ul">
                                <li><span>Date</span></li>
                                <li><span>Description</span></li>
                                <li><span>Amount</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="danger-text">– R 100 000</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="success-text">– R 100 000</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="danger-text">– R 100 000</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="success-text">– R 100 000</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="danger-text">– R 100 000</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="success-text">– R 100 000</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="danger-text">– R 100 000</span></li>
                            </ul>
                            <ul class="table-body-ul">
                                <li><span>1 Nov 2023</span></li>
                                <li><span>Vehicle Insurance_HondaJazz 2020</span></li>
                                <li><span class="success-text">– R 100 000</span></li>
                            </ul>
                        </div>
                        <button type="button" class="text-btn">view all</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="statement-container">
                        <ul class="statement-ul">
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                            <li>
                                <div>
                                    <div class="statement-date"><img src="assets/images/icons/statement-icon.png" alt="download icon" class="img-fluid" /><span>1 June 2024</span></div>
                                    <p class="statement-title">Monthly formal statement
                                        Official bank statement</p>
                                </div>
                                <button type="button" class="download-btn"><img src="assets/images/icons/download-icon.png" alt="download icon" class="img-fluid" /></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>