<div class="switch-bank">
    <div class="container-fluid px-0">
        <div class="row g-0 flex-lg-row flex-column-reverse flex-md-column-reverse">
            <div class="col-lg-6 colLeft">
                <div class="content">
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                    <button class="btnPrimary w-100">{{buttonText}}</button>
                </div>
            </div>
            <div class="col-lg-6 colRight">
                <div class="secImg"></div>
            </div>
        </div>
    </div>
</div>