<div class="container-fluid px-0 sec-content-image-split">
    <div class="row g-0" [ngClass]="{'reverse': reverseLayout}">
        <!-- Left Column (Text Content) -->
        <div class="col-lg-6 colLeft">
            <div class="text-content">
                <h2>{{ title }}</h2>
                <ng-content></ng-content>
                <a *ngIf="buttonText || btnIconUrl" href="#" role="button" class="text-icon-btn">
                    <span *ngIf="buttonText">{{ buttonText }}</span>
                    <img *ngIf="btnIconUrl" [src]="btnIconUrl" alt="Arrow Icon">
                </a>
            </div>
        </div>
        <!-- Right Column (Image) -->
        <div class="col-lg-6 colRight d-flex align-items-center p-0 mobile-center" 
            [ngClass]="{'justify-content-start': reverseLayout, 'justify-content-end': reverseLayout}">
            <div class="image-container">
                <!-- Use desktop image by default -->
                <img [src]="mobileImageUrl || imageUrl" [alt]="imageAlt || 'Image'" class="img-fluid">
            </div>
        </div>
    </div>
</div>