<div class="sol-cards-container">
    <h2 class="heading-title">My Solutions</h2>
    <div class="d-flex align-items-stretch gap-3 flex-wrap sol-cards-grid">
        <div class="sol-card">
            <div class="sol-header">
                <img src="assets/images/icons/ucount-icon.png" alt="ucount" class="img-fluid" />
                <div>
                    <h5>UCount Rewards</h5>
                    <p>You are on <strong>tier 2</strong></p>
                </div>
            </div>
            <div class="sol-body">
                <span>Reward points</span>
                <h3>45 000</h3>
            </div>
            <div class="sol-footer">
                
            </div>
        </div>

        <div class="sol-card">
            <div class="sol-header">
                <img src="assets/images/icons/branch-icon.png" alt="branch" class="img-fluid" />
                <div>
                    <h5>Business Current Account</h5>
                    <p>Cheque Account:  ****6098</p>
                </div>
            </div>
            <div class="sol-body">
                <span>Available balance</span>
                <h3>R 589 678.00</h3>
            </div>
            <div class="sol-footer">
                <button type="button" class="btn btn-outline-light text-uppercase transact-btn">Transact</button>
            </div>
        </div>

        <div class="sol-card">
            <div class="sol-header">
                <img src="assets/images/icons/add-icon.png" alt="add" class="img-fluid" />
                <div>
                    <h5>Add more solutions</h5>
                    <p>Explore Standard Bank solutions</p>
                </div>
            </div>
            <div class="sol-body">
                <span>Reward points</span>
                <h3>45 000</h3>
            </div>
            <div class="sol-footer"></div>
        </div>
    </div>
</div>