.welcome-user-banner{
    padding: 2rem 0;
}
.close-icon{
    position: absolute;top: 1rem; right: 1rem; cursor: pointer;
}
.welcome-text{
    font-family: "BSP-Regular", sans-serif;
    font-size: 1.75rem;
    line-height: 1.3;
    color: #02070D;
    margin-bottom: 2rem;
}


.colRight{
    display: flex; align-items: center; justify-content: space-between;
    padding: 0.75rem 1rem 0.75rem 1.5rem; background-color: #FFFFFF;
}
.text-content{
    max-width: 494px;
    h3{
        font-family: "BSP-Medium", sans-serif;
        font-size: 1.5rem;
        line-height: 1.3;
        color: #1A314D;
        margin-bottom: 0.5rem;
    }
    p{
        font-family: "BSP-Regular", sans-serif;
        font-size: 1rem;
        line-height: 1.3;
        color: #1A314D;
        margin-bottom: 5px;
    }
}

button{
    padding: 10px 23px; border-radius: 8px;
    font-family: "BSP-Bold";
    font-size: 0.875rem;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}
