<div class="welcome-user-banner">
    <h2 class="welcome-text"><strong>Hi James,</strong> what would you like to do today?</h2>
    <div class="container-fluid px-0 position-relative rounded-2 overflow-hidden">
        <img src="assets/images/icons/close-icon-standard.png" alt="welcome user image" class="img-fluid close-icon" />
        <div class="row g-0">
            <div class="col-auto colLeft">
                <img src="assets/images/media/welcome-user.png" alt="welcome user image" class="img-fluid" />
            </div>
            <div class="col colRight">
                <div class="text-content">
                    <h3>Power your business<br/> the right way</h3>
                    <p>Protect your business from load shedding and get the solar solutions you need with a business solar loan</p>
                </div>
                <button type="button" class="btn btn-primary text-uppercase mt-auto">tell me more</button>
            </div>
        </div>
    </div>
</div>