.footer-block{
    padding: 28px 16px;
     background-color: #1A314D;
    .footer-content{
        width: 100%; max-width: 745px; margin: 0 auto;
    }
    p{
        font-family: "BSP-Regular"; font-size: 0.875rem; line-height: 1.3; color: #FFFFFF; margin: 0; letter-spacing: normal;
    }
}   