.slide {
  background: #f0f0f0;
  border: 1px solid #ccc;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
}

owl-carousel-o {
  display: block;
}
