<div class="swiper-wrapper">
  <swiper-container #swiper pagination="true" pagination-clickable="true"
    class="swiper-container" pagination-el=".custom-pagination"
    navigation-next-el=".custom-next" navigation-prev-el=".custom-prev"
    loop="true" [attr.slides-per-view]="slidesPerView" observer="true">

    <swiper-slide *ngFor="let slide of slides">
      <!-- {{ slide }} -->
      <div class="card" style="width: 18rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </swiper-slide>
  </swiper-container>

  <!-- Custom controls container -->
  <div class="swiper-controls">
    <button class="custom-prev">Back</button>
    <div class="custom-pagination"></div>
    <button class="custom-next">Next</button>
  </div>
</div>