.carousel-container{
    margin: 70px 0;
    .sec-title-wrap{
        margin-bottom: 50px; text-align: center;
    }
}

.custom-carousel{
    .slide{
        background-color: #FFFFFF;
        border: 1px solid #CED3D9;
        padding: 30px 10px; height: 215px; text-align: center;
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        img{
            width: 70px;
        }
        h3{
            font-family: "BSP-Medium";
            font-size: 1.25rem;
            line-height: 1.3;
            text-align: center;
            margin: 10px 0; color: #1A314D;
        }
        p{
            font-family: "BSP-Regular";
            font-size: 0.875rem;
            line-height: 1.3;
            text-align: center;
            margin: 0; color: #1A314D;
        }
    }
}

.custom-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  
    .nav-btn {
      background: #333;
      color: #fff;
      border: none;
      padding: 10px 15px;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .custom-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  
    span {
      height: 12px;
      width: 12px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin: 0 4px;
      cursor: pointer;
  
      &.active {
        background-color: #333;
      }
    }
  }


  .custom-dots button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .custom-dots button.active {
    background-color: #007bff;
    color: #fff;
  }
  