<div class="carousel-container">
    <div class="sec-title-wrap">
        <h2 class="sec-title">Let us handle your business</h2>
    </div>
      <owl-carousel-o [options]="customOptions"#owlCar class="custom-carousel">
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/images/icons/scale-icon.png" alt="bank" class="img-fluid" />
            <h3>Monitor your financial health</h3>
            <p>Keep your business’s finances stable with our financial management tools
            </p>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/bulb-icon.png" alt="bank" class="img-fluid" />
              <h3>Get tailored advice </h3>
              <p>Access resources suited to your business needs through our customised offerings</p>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/box-track-icon.png" alt="bank" class="img-fluid" />
              <h3>Track your business</h3>
              <p>Control your finances with insights into your cash flow, money movement and more </p>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/doc-icon.png" alt="bank" class="img-fluid" />
              <h3>Access everything in one place</h3>
              <p>Manage your accounts and access your banking services in one centralised place </p>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="slide">
              <img src="assets/images/icons/doc-icon.png" alt="bank" class="img-fluid" />
              <h3>Access everything in one place</h3>
              <p>Manage your accounts and access your banking services in one centralised place </p>
            </div>
          </ng-template> 
      </owl-carousel-o>
      

</div>