/* You can add global styles to this file, and also import other style files */
@use "styles/custom-breakpoints" as bp;

body {
    font-family: 'BSP-Regular', sans-serif;
}

// Layout styles Starts
// Common Layout styles for the component container
.component-container{
    width: 100%;
    max-width: 1328px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
// Common Layout styles for the component container Ends
// Layout styles Ends


// Button Styles Starts
// Common Button styles 
.btnPrimary{
    display: inline-block;
    padding: 13px 32px;
    font-family: 'BSP-Bold', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0062E1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-transform: uppercase; letter-spacing: normal;
    @include bp.respond-below('mobile-xxs'){
        font-size: 0.875rem;
     }
}
.btnPrimary:hover{
    background-color: #0056b3;
}
// Heading styles Starts
// Common Heading styles
.sec-title-wrap{
    .sec-title{
        font-family: 'BSP-Regular', sans-serif; font-size: 3rem; line-height: 1.3; margin-bottom: 30px; color: #1A314D;
        @include bp.respond-below('sm') {
            font-size: 2.375rem;
          }
          @include bp.respond-below('mobile-xxs') {
            font-size: 1.75rem;
          }
    }
    .sec-description{
        font-family: 'BSP-Regular', sans-serif; font-size: 1rem; line-height: 1.5; margin-bottom: 10px; color: #1A314D;
          @include bp.respond-below('mobile-xxs') {
            font-size: 0.875rem;
          }
    }
}

// Global Overrides Styles for Component Level
.sec-content-image-split{
    .text-content{
        p{
            font-family: "BSP-Regular", sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            margin-bottom: 15px;
            color: #1A314D;
            @include bp.respond-below('sm') {
                font-size: 1rem;
              }
            @include bp.respond-below('mobile-xxs') {
              font-size: 0.875rem;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}




