<div class="container mt-3">
  <swiper-container #swiperContainer init="false">
    <swiper-slide>
      <div class=" card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card Title 1</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card Title 2</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="custom-controls">
    <div class="custom-navigation">
      <button class="custom-prev ">←</button>
      <div class=" custom-pagination"></div>
      <button class=" custom-next">→</button>
    </div>
  </div>
</div>